
$('#goal-<%= @commit.goal_id %> .today-occur').replaceWith("<div class='occur today-occur'><%= j send(@commit.goal.describe_today_occur, @commit.goal, @occur) %></div>")

$('#goal-<%= @commit.goal_id %> .occurs').fadeIn(300)

$('#goal-<%= @commit.goal_id %> span.past').html('<%= @commit.goal.commits.past.size %>')


<% if @commit.succeed? %>
  $('#main-stats #earn-back').html('$<%= current_user.commits.succeed.size %>')
  
  $('#commit-detail form #note').attr('placeholder', 'Great! You made it for "<%= @commit.goal.title %>" today. Tell us more about it.')
<% else %>
  $('#commit-detail form #note').attr('placeholder', "Sorry you didn't make it for \"<%= @commit.goal.title %>\" today. Tell us why and try harder next time.")
<% end %>

$('#commit-detail form').attr('action', '<%= commit_path(@commit) %>')

upmit.stop_spinner()

// TODO: allow user change preferrence about this
$('#commit-detail').modal()