/ main container
.content
  #pad-wrapper.deposit-index
    - if current_user.goals.inactive.size >0
      - pending = current_user.goals.inactive
      - unless pending.blank?
        .row.col-md-12
          .alert.alert-warning(role='alert')
            - pending.each do |p|
              %p
                %i.fa.fa-warning.fa-lg
                Your goal:
                = link_to p.title.titlecase, user_goal_path(current_user, p), class: 'normal'
                is #{ link_to 'pending deposit', new_goal_deposit_path(p), class: 'alert-link' }.

  
    - if current_user.goals.active.size > 0
      - refunding = current_user.deposits.refund
      - unless refunding.blank?
        .row.col-md-12
          .alert.alert-info(role='alert')
            - refunding.each do |r|
              %p
                %i.fa.fa-dollar.fa-lg
                Your goal:
                = link_to r.goal.title.titlecase, user_goal_path(current_user, r.goal), class: 'normal'
                is completed.
                = link_to "#{ r.goal.commits.succeed.size } dollars", refund_goal_deposit_index_path(r.goal), class: 'alert-link'
                are refundable.
    
      .row
        .col-md-12
          .col-md-3.text-right
            %h3 Total in deposit
          .col-md-1
            - total = current_user.deposits.paid.sum(:amount_cents) / 100
            = total
          .col-md-1
            Refundable
          .col-md-1
            - refund = current_user.commits.succeed.joins(:goal).where('goals.state = 10').count
            = refund
          .col-md-1
            At Stake
          .col-md-1
            - refund = current_user.commits.active.joins(:goal).where('goals.state = 10').count
            = refund
          .col-md-1
            Lost
          .col-md-1
            - refund = current_user.commits.failed.joins(:goal).where('goals.state = 10').count
            = refund
            
          .col-md-1
            Breakdown
      
    
    
    
    - else
      = render 'home/jumbotron'
          