- @title = 'Make deposit - Upmit.com'

/ main container .wide-content is used for this layout without sidebar :)
.content
  #pad-wrapper.new-deposit
    .board.col-md-3.col-sm-4.text-center
      .goal
        %h4 Goal
        %p.desc
          I will
          = @goal.title
        %p
          = @goal.to_s
        
        - unless @goal.duration == @goal.occurrence        
          %p
            %span          
              = @goal.occurrence
              days committed to action

      .alert.alert-info
        %i.fa.fa-lightbulb-o.fa-lg
        You can change your mind and cancel the new goal in 3 days, and get all the money back. So... no worries.
    
    .row
      .title.col-md-7.col-md-offset-3.text-center
        = image_tag asset_path('piggy.png'), alt: "New Deposit"
        %h2
          Make Deposit

    .row.cal
      .col-md-3.col-xs-4.col-md-offset-3.col-xs-offset-2.text-right
        .number= @goal.occurrence
      .col-md-4
        .note days of action

    .row.cal
      .col-md-3.col-xs-4.col-md-offset-3.col-xs-offset-2.text-right
        .number
          %span &times;
          %em.money
            %i.fa.fa-usd
            1
      .col-md-4
        .note per day

    .row
      .liner.col-md-8.col-md-offset-2
      
    .row.cal
      .col-md-3.col-xs-4.col-md-offset-3.col-xs-offset-2.text-right
        .number
          %span =
          %strong.money
            %i.fa.fa-usd
            = @goal.occurrence
      .col-md-4
        .note total
  
    .row.paypal
      .small.col-md-4.col-xs-6.col-md-offset-3
        Your payment will be processed by Paypal.com. The deposit can be made with all major credit cards with or without a Paypal account.
      
      .button.col-md-2.col-xs-6        
        = form_for @deposit, url: goal_deposit_index_path(@goal), method: :post do |f|
          %input#paypal_submit(type="image" src='#{PAYPAL_BUTTON}/btn_dg_pay_w_paypal.gif' border='0' align='top' alt='Pay with PayPal')

          
            

