.line-break

.avatar= link_to image_tag(asset_path(comment.user.avatar.thumb.url), size: '40x40'), user_path(comment.user)
.activeable
  .info
    = link_to comment.user.full_name, user_path(comment.user)
    %span commented #{ distance_of_time_in_words_to_now(comment.created_at) } ago
  .body
    - if is_owner?(comment)
      %a.delete.small.right(href='/comments/#{ comment.id }' data-remote='true' data-method='delete' data-confirm='Are you sure?')
        %i.fa.fa-times-circle
        Delete
    = comment.body
    - if is_owner?(comment)
      %a.delete.small.left(href='/comments/#{ comment.id }' data-remote='true' data-method='delete' data-confirm='Are you sure?')
        %i.fa.fa-times-circle
        Delete
.clearfix