/ main container
.content
  #pad-wrapper.people-wrapper
    
    %h3 Following
    - followings = current_user.following_by_type('User')
    
    - if followings.blank?
      %p Not following anyone.
    - else
      .following.row
        - followings.each do |f|
          %a(href='#{ user_path(f) }')
            .user
              = image_tag asset_path(f.avatar.thumb.url)
            .link
              = f
    
    %h4 Followers
    - followers = current_user.followers
    
    - if followers.blank?
      %p Not been followed yet.
    - else
      .follower.row
        - followers.each do |f|
          %a(href='#{ user_path(f) }')
            .user
              = image_tag asset_path(f.avatar.thumb.url), size: '24x24'