- @title = 'Preference - Upmit.com'

.content
  #pad-wrapper.setting-wrapper    
    .row.head
      %h3 Preferences

    .row.line-break
    
    
    
    
    .row.facebook
      .col-md-10
        %h3 Facebook
        
        - fb = current_user.authorizations.find_by(provider: 'facebook')
        
        .auth
          - if fb.blank?
            = link_to 'Connect Facebook Account', user_omniauth_authorize_path(:facebook), class: 'connect btn-glow primary'
          - else
            .connected
              - if current_user.checkin_with == 'facebook'
                .label.label-primary
                  Check In
              - else
                .disconnect
                  = form_for current_user, url: '/settings/preference', method: :post do |f|
                    = f.hidden_field :disconnect, value: 'facebook'
                    = f.submit 'Disconnect', class: 'btn btn-default btn-sm', data: { confirm: "Are your sure? You won't be able to if disconnected."}

                .make-default
                  = form_for current_user, url: '/settings/preference', method: :post do |f|
                    = f.hidden_field :switch_to, value: 'facebook'
                    = f.submit 'check-in via Facebook', data: { confirm: "Are your sure you want all your new goals to listen to check-ins from Facebook?"}

              .as
                Connected as:
                = link_to fb.username, fb.link
              %p.help-block
                %ul
                  %li 
                    post to our page to check in your commitment, e.g. 
                    type in &nbsp;
                    %strong> @upmit
                    , select our Facebook page and continue: "just had a good run today &nbsp;
                    %strong> #running
                    "
                      
    .row.line-break

    .row.twitter
      .col-md-10
        %h3 Twitter
        
        - t = current_user.authorizations.find_by(provider: 'twitter')
        
        .auth
          - if t.blank?
            = link_to 'Connect Twitter Account', user_omniauth_authorize_path(:twitter), class: 'connect btn-glow primary'
          - else
            .connected
              - if current_user.checkin_with == 'twitter'
                .label.label-primary
                  Check In
              - else
                .disconnect
                  = form_for current_user, url: '/settings/preference', method: :post do |f|
                    = f.hidden_field :disconnect, value: 'twitter'
                    = f.submit 'Disconnect', class: 'btn btn-default btn-sm', data: { confirm: "Are your sure? You won't be able to check in with tweets or receive reminders on Twitter if disconnected."}
                
                .make-default
                  = form_for current_user, url: '/settings/preference', method: :post do |f|
                    = f.hidden_field :switch_to, value: 'twitter'
                    = f.submit 'check-in via Twitter', data: { confirm: "Are your sure you want all your new goals to listen to check-ins from Twitter?"}
            
              .as
                Connected as:
                = link_to t.username, t.link
              %p.help-block
                %ul
                  %li 
                    tweet us to check in your commitment, e.g. 
                    %em
                      "
                      %strong> @upmit
                      &nbsp; just had a good run today &nbsp;
                      %strong> #running
                      "
                  %li receive reminders in Twitter Direct Messages (need to follow @upmit)
    
    .row.line-break
    
    
    .row.reminder
      .col-md-10
        %h3#reminders Reminders
        
        - email = current_user.reminders.find_by(type: "EmailReminder")
        
        = form_tag '/settings/preference', method: :post, remote: true, role: 'form' do
          = hidden_field_tag 'user[reminder][change]', ''
          
          .email(class="#{ 'disabled' if email.blank? }")
            .lbl.col-md-2.col-sm-2.col-xs-2 Email
          
            .btn-group.btn-group-sm(data-toggle="buttons")
              - if email.blank?
                %button.btn.btn-default(disabled='disabled') ON
                %button.btn.btn-default(disabled='disabled') OFF
              - else
                %label.btn.btn-default(class= "#{ 'active' if email.active? }")
                  = radio_button_tag 'user[reminder][email]', 1, email.active? ? true : false
                  ON
                %label.btn.btn-default(class= "#{ 'active' unless email.active? }")
                  = radio_button_tag 'user[reminder][email]', 0, email.active? ? false : true
                  OFF

            %p.help-block.col-md-offset-2.col-sm-offset-2.col-xs-offset-2
              Receive a digestive email for all commitments scheduled for the day.
            
          .twitter(class="#{ 'disabled' if t.blank? }")
            - twitter = current_user.reminders.find_by(type: "TwitterReminder") if t.present?
        
            .lbl.col-md-2.col-sm-2.col-xs-2 Twitter
            .btn-group.btn-group-sm(data-toggle="buttons")
              - if t.blank?
                %button.btn.btn-default(disabled='disabled') ON
                %button.btn.btn-default(disabled='disabled') OFF
              - else
                %label.btn.btn-default(class= "#{ 'active' if twitter.active? }")
                  = radio_button_tag 'user[reminder][twitter]', 1, twitter.active? ? true : false
                  ON
                %label.btn.btn-default(class= "#{ 'active' unless twitter.active? }")
                  = radio_button_tag 'user[reminder][twitter]', 0, twitter.active? ? false : true
                  OFF
            
            %p.help-block.col-md-offset-2.col-sm-offset-2.col-xs-offset-2
              Receive a digestive Twitter Direct Message for all commitments scheduled for the day.
          
          .hidden= submit_tag 'Submit'
