- @title = 'Profile - Upmit.com'

.content
  #pad-wrapper.setting-wrapper    
    .row.head
      %h3
        Your Profile
        %small click the dashed fields to edit

    .row.line-break

    .row.names
      .lbl.col-md-2.col-sm-2.col-xs-2
        Display Name
      .input.col-md-6.col-sm-6.col-xs-6
        %a.editable(href='#' data-type='text' data-name='user[display_name]' data-url='/settings/update')
          = @user
    
    .row.avatar
      .lbl.col-md-2.col-sm-2.col-xs-2
        Photo
      .input.col-md-7.col-sm-9.col-xs-10
        .current.pull-left= image_tag asset_path(@user.avatar.url), size: '100x100'
        .uploader
          %ul.nav.nav-tabs(role='tablist')
            %li.active
              %a(href='#local' role='tab' data-toggle='tab') Local upload
            %li
              %a(href='#remote' role='tab' data-toggle='tab') Remote link

          = form_for @user, url: '/settings/update', method: :put, remote: true, role: 'form', html: { :'data-type' => 'json', multipart: true } do |f|
            .tab-content
              .tab-pane.active#local= f.file_field :avatar, class: 'form-control'
              .tab-pane#remote= f.text_field :remote_avatar_url, class: 'form-control', placeholder: 'A url to a remote photo'
              .action.text-right= f.submit 'Update', class: 'btn-glow primary btn-sm', data: { disable_with: 'Please wait...' }
