:sass
  body
    background: #000
    color: #fff
    font-size: 17px


.background-image-overlay

#outer-background-container(data-default-background-img="#{ asset_path('bg5.jpg') }" style="background-image:url(#{ asset_path('bg5.jpg') });")

/ Outer Container
#outer-container.homer

  / Left Sidebar
  %section#left-sidebar
    .logo
      %a.link-scroll(href="#intro")
        = image_tag asset_path('logo-home.png'), alt: 'Upmit'

    / Menu Icon for smaller viewports
    #mobile-menu-icon.visible-xs{onclick: "toggle_main_menu();"}
      %i.fa.fa-th
    
    %ul#main-menu
      %li#menu-item-better.menu-item.scroll
        %a(href="#better") better you
      %li#menu-item-carousel.menu-item.scroll
        %a(href="#carousel") how it works
      %li#menu-item-grid.menu-item.scroll
        %a(href="#grid") Grid
      %li#menu-item-featured.menu-item.scroll
        %a(href="#featured") Featured
      %li#menu-item-contact.menu-item.scroll
        %a(href="#signup") start now!

  %section#main-content.clearfix
    %article#intro.section-wrapper.clearfix(data-custom-background-img="#{ asset_path('bg5.jpg') }")
      .content-wrapper.clearfix
        .col-sm-8.col-md-7.pull-right
          %section.feature-text
            %h1 Up + Commit
            %p 
              Upmit helps to make real changes about yourself, 
              so you can be
              %a.link-scroll(href='#better')
                %strong the better you
            %p
              %a.link-scroll.btn.btn-outline-inverse.btn-lg(href="#signup") sign up
              %a.btn.btn-outline-inverse.btn-lg(href="/login") log in

    %article#better.section-wrapper.clearfix(data-custom-background-img="#{ asset_path('bg1.jpg') }")
      .content-wrapper.clearfix
        .col-sm-10.col-md-9.pull-right
          %h1.section-title Be the Better You
          %p.feature-paragraph
            %img.lazy.pull-right(alt="Lorem Ipsum" data-img-src="#{ asset_path('transp-image5b.png') }")
            Etiam at ligula sit amet arcu laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec.
            %a(href="#carousel") Suspendisse molestie lorem odio
            , sit amet. Laoreet consequat. Duis dictum lorem metus, vitae dapibus.
          %h4 Duis dictum lorem metus
          %p Suspendisse molestie lorem odio, sit amet. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio. Etiam scelerisque lacus tempor, rhoncus diam vel, gravida felis. Fusce tristique sem et leo. Pellentesque sed malesuada turpis. Quisque eget lacus sit amet dui.
          %p
            %a.btn.btn-outline-inverse.btn-sm(href="#") how it works
          


    %article#carousel.section-wrapper.clearfix(data-custom-background-img="#{ asset_path('bg6.jpg') }")
      .content-wrapper.clearfix
        #features-carousel.carousel.slide.with-title-indicators.max-height(data-height-percent="60" data-ride="carousel")
          / Indicators - slide navigation
          %ol.carousel-indicators.title-indicators
            %li.active(data-slide-to="0" data-target="#features-carousel") Create a goal
            %li(data-slide-to="1" data-target="#features-carousel") Make the deposit
            %li(data-slide-to="2" data-target="#features-carousel") Stick to your goal
            %li(data-slide-to="3" data-target="#features-carousel") Earn your money back
          / Wrapper for slides
          .carousel-inner
            / CAROUSEL SLIDE 1
            .item.active
              .carousel-text-content
                = image_tag asset_path('goal.png'), alt: 'Goal', class: 'icon'
                %h2.title Create a goal
                %p Suspendisse molestie lorem odio, sit amet. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio.

                
            / CAROUSEL SLIDE 2
            .item
              .carousel-text-content
                %img.icon(alt="Lorem Ipsum" src="#{ asset_path('transp-image6.png') }")
                %h2.title Suspendisse molestie
                %p Etiam at ligula sit amet arcu laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Duis dictum lorem metus.
                %p
                  %a.btn.btn-outline-inverse.btn-sm(href="#") read more
                #modal-content-3.content-to-populate-in-modal

            / CAROUSEL SLIDE 3
            .item
              .carousel-text-content
                %img.icon(alt="Lorem Ipsum" src="#{ asset_path('transp-image7.png') }")
                %h2.title Maecenas id dolor
                %p Fusce erat augue, fermentum sit amet congue a, ullamcorper ac enim. Maecenas id dolor imperdiet, mollis felis ut, pellentesque ante. Sed id congue arcu. Nulla eget commodo sem. Suspendisse suscipit, sem ac.
                %p
                  %a.btn.btn-outline-inverse.btn-sm(href="#") read more
                
            / CAROUSEL SLIDE 4
            .item
              .carousel-text-content
                %img.icon(alt="Lorem Ipsum" src="#{ asset_path('transp-image4.png') }")
                %h2.title Sed scelerisque
                %p Aenean a est fringilla, malesuada eros vel, condimentum augue. Sed lorem sapien, vestibulum quis nisl volutpat, fermentum adipiscing massa. Cras ac faucibus nisl. Proin ac convallis sapien.
                %p
                  %a.btn.btn-outline-inverse.btn-sm(href="") read more

          / Controls
          %a.left.carousel-control(data-slide="prev" href="#features-carousel")
          %a.right.carousel-control(data-slide="next" href="#features-carousel")

    %article#grid.section-wrapper.clearfix(data-custom-background-img="#{ asset_path('bg2.jpg') }")
      .content-wrapper.clearfix
        .col-sm-11.col-md-10.pull-right
          %h1.section-title Grid
          / grid
          %section.grid.row.clearfix.clearfix-for-2cols
            / grid item
            .grid-item.col-md-6
              .item-content.clearfix
                %i.icon.fa.fa-bar-chart-o
                .text-content
                  %h5 Lorem ipsum dolor sit amet
                  %p Nullam ac rhoncus sapien, non gravida purus. Aliquam adipiscing eros non elit imperdiet congue. Integer ultricies.

            .grid-item.col-md-6
              .item-content.clearfix
                %i.icon.fa.fa-compass
                .text-content
                  %h5 Aliquam adipiscing eros non elit
                  %p Nullam ac rhoncus sapien, non gravida purus. Alinon elit imperdiet congue. Integer ultricies sed ligula eget tempus.

            .grid-item.col-md-6
              .item-content.clearfix
                %i.icon.fa.fa-lock
                .text-content
                  %h5 Integer ultricies sed ligula
                  %p Aliquam adipiscing eros non elit imperdiet congue. Integer ultricies sed ligula ligula eget.

            .grid-item.col-md-6
              .item-content.clearfix
                %i.icon.fa.fa-file
                .text-content
                  %h5 Lorem ipsum dolor sit amet
                  %p Nullam ac rhoncus. Aliquam adipiscing eros non elit imperdiet congue. Integer ultricies sed ligula eget tempus.

    %article#featured.section-wrapper.clearfix(data-custom-background-img="#{ asset_path('bg3.jpg') }")
      .content-wrapper.clearfix
        .col-sm-11.pull-right
          %h1.section-title Featured
          / feature columns
          %section.feature-columns.row.clearfix
            / feature 1
            %article.feature-col.col-md-4
              %a.thumbnail.linked(href="#")
                .image-container
                  %img.lazy.item-thumbnail(alt="Lorem Ipsum" data-img-src="#{ asset_path('project-3.jpg') }")
                .caption
                  %h5 Image Carousel
                  %p This feature contains an image carousel when you open popup.

            / feature 2
            %article.feature-col.col-md-4
              %a.thumbnail.linked(href="#")
                .image-container
                  %img.lazy.item-thumbnail(alt="Lorem Ipsum" data-img-src="#{ asset_path('project-2.jpg') }")
                .caption
                  %h5 Nullam ac rhoncus
                  %p Nullam ac rhoncus. Aliquam adipiscing eros non elit imperdiet congue. Integer ultricies.

            / feature 3
            %article.feature-col.col-md-4
              %a.thumbnail.linked(href="#")
                .image-container
                  %img.lazy.item-thumbnail(alt="Lorem Ipsum" data-img-src="#{ asset_path('project-4.jpg') }")
                .caption
                  %h5 Aliquam adipiscing
                  %p Nullam ac rhoncus. Aliquam adipiscing eros non elit imperdiet.

    %article#signup.section-wrapper.clearfix(data-custom-background-img="#{ asset_path('bg4.jpg') }")
      .content-wrapper.clearfix
        %h1.section-title Sign Up
        / CONTACT DETAILS
        .contact-details.col-sm-5.col-md-3
          %p
            123A,
            %br
            Molestie Lorem Avenue,
            %br
            Aliquam
            %br
            AAA0010
          %p Tel: (+20) 21 301 524
          %p
            %a(href="mailto:info@loremipsum.com") info@loremipsum.com

        / CONTACT FORM
        .col-sm-7.col-md-9
          / IMPORTANT: change the email address at the top of the assets/php/mail.php file to the email address that you want this form to send to
          %form.form-style.validate-form.clearfix(action="/assets/php/mail.php" method="POST" role="form")
            / form left col
            .col-md-6
              .form-group
                %input#form-name.text-field.form-control.validate-field.required(data-validation-type="string" name="name" placeholder="Full Name" type="text")
              .form-group
                %input#form-email.text-field.form-control.validate-field.required(data-validation-type="email" name="email" placeholder="Email Address" type="email")
              .form-group
                %input#form-contact-number.text-field.form-control.validate-field.phone(data-validation-type="phone" name="contact_number" placeholder="Contact Number" type="tel")

            .col-md-6
              .form-group
                %textarea.form-control.validate-field.required(name="message" placeholder="Message...")
              .form-group
                %img.form-loader(src="/assets/theme_images/loader-form.GIF")
                %button.btn.btn-sm.btn-outline-inverse(type="submit") Submit
              .form-group.form-general-error-container

  / Footer
  %section#footer
    / Go to Top
    #go-to-top(onclick="scroll_to_top();")
      %i.icon.fa.fa-chevron-up.fa-lg
    %ul.social-icons
      %li
        %a(href="#" target="_blank" title="Facebook")
          = image_tag asset_path('facebook.png'), alt: 'Facebook'
      %li
        %a(href="https://twitter.com/upmit" target="_blank" title="Twitter")
          = image_tag asset_path('twitter.png'), alt: 'Twitter'
    / copyright text
    .footer-text-line © 2014 Upmit
    
    / Modal
    / DO NOT MOVE, EDIT OR REMOVE - this is needed in order for popup content to be populated in it
    #common-modal.modal.fade(aria-hidden="true" role="dialog" tabindex="-1")
      .modal-dialog
        .modal-content
          %button.close(aria-hidden="true" data-dismiss="modal" type="button") ×
          .modal-body
