/ main container
.content
  - if  current_user.goals.active.size == 0
    #pad-wrapper
      = render 'home/jumbotron'
          
  - else
    #pad-wrapper.main-wrapper
      / upper main stats
      #main-stats
        .row.stats-row
          .col-md-3.col-sm-3.stat
            .data
              - active_goals = current_user.goals.active.size

              %span.number= active_goals
              = 'goal'.pluralize(active_goals)

            .date
              active now

          .col-md-3.col-sm-3.stat
            .data
              - active_commits = current_user.commits.active.size

              %span.number= active_commits
              = 'day'.pluralize(active_commits)

            .date
              committed to action

          .col-md-3.col-sm-3.stat
            .data
              - completed_goals = current_user.goals.completed.size

              %span.number= completed_goals
              = 'goal'.pluralize(completed_goals)

            .date
              completed

          .col-md-3.col-sm-3.stat
            .data
              %span#earn-back.number $#{ current_user.commits.succeed.size }
              Earned back
            .date
              all time
              
      .row
        .col-md-12
          %a.new-goal.btn-glow.primary(href='#{ new_goal_path }')
            %i.fa.fa-plus
            New Goal

          %h3 Your progress
      
      = render 'commits/commit_modal', id: 'commit-detail', title: 'Add note and a photo', cancel: 'Not now'
      
        
      - @active.each do |goal|
        .row(id='goal-#{ goal.id }')
          .active-goal.col-md-12
            .info.col-md-2.col-sm-3.col-xs-3
              %a(href='#{ user_goal_path(current_user, goal) }')
                .legend= get_goal_legend(goal)
                .title= (h goal.title).titlecase
                .freq= goal.to_frequency

            .occurs.col-md-6
              - last, today, next_occur = Commit.get_occurrence_of(goal)
              
              .occur.today-occur
                - if today.blank?
                  = label_maker(fa_icon('fa-circle') + 'Today')
                  Not scheduled.
                - else
                  = send(goal.describe_today_occur, goal, today)
              
                .info
                  .last-occur
                    - unless last.blank?
                      = send(goal.describe_last_occur, goal, last)
                    - else
                      New goal
              
                  .next-occur
                    = fa_icon('fa-circle')
                
                    - if next_occur.blank?
                      Congrads! This is the last commitment.
                    - else
                      = send(goal.describe_next_occur, goal, next_occur)
                      


            .prog.col-md-3
              %span.past= goal.commits.past.size
              \/
              %span.total>= goal.occurrence
        

              
