/ main container
.content
  #pad-wrapper
    - unless @goals.blank?
      .row.col-md-12
        %h4.pull-left.clearfix
          Active Goals
      .row.col-md-12
        - @goals.each do |goal|
          - past, failed, succeed = goal.commits.past.size, goal.commits.failed.size, goal.commits.succeed.size
          - percentage = (past * 100 / goal.occurrence)
          - fgcolor = get_fg_color(past == 0 ? 0 : failed * 100 / past)
          
          %a(href='#{ goal_path(goal) }')
            .goal.col-md-4
              .donut(data-dimension="180" data-text="#{ percentage }%" data-info="#{ pluralize goal.occurrence - past, 'time' } to go" data-width="24" data-fontsize="26" data-percent="#{ percentage }" data-fgcolor="#{ fgcolor }" data-bgcolor="#eee" data-fill="#ddd")
              .title= goal.title
            
    .row.col-md-12
      %a(href='#{ new_goal_path }')
        %button.btn.btn-success
          %i.fa.fa-plus
          New Goal
