
- is_current_user_the_user = (current_user == @user)

- @title = is_current_user_the_user ? 'My Goals - Upmit.com' : "#{ @user.to_s } - Upmit.com"

- if (@user == current_user)
  - distance = 1
- else
  - distance = 10
  - distance = 5 if current_user.following?(@user) && current_user.followed_by?(@user)

- @active = @user.goals.active.order('created_at desc').where('privacy >= ?', distance)
- @inactive = @user.goals.inactive.where('privacy >= ?', distance)
- @completed = @user.goals.completed.order('created_at desc').where('privacy >= ?', distance)

- unless is_current_user_the_user
  .owner
    = render 'layouts/follow', user: @user
    .user
      .avatar= link_to image_tag(asset_path(@user.avatar.url), size: '80x80'), user_path(@user)
      .info
        = link_to @user, user_path(@user)
        %p.help-block= @user.username


/ main container
.content(class="#{ 'panel-content' unless is_current_user_the_user }")
  #pad-wrapper.goals-wrapper
    - if is_current_user_the_user
      %a.new-goal.btn-glow.primary(href='#{ new_goal_path }')
        %i.fa.fa-plus
        New Goal
      
    .row.head
      .col-md-12
        %h3 Active goals
  
        - if @active.blank?
          .active There are no active goals at the moment.
        - else
          .active
            - today = Time.now.in_time_zone(@user.timezone).to_date
      
            - @active.each do |goal|
              - succeed = goal.commits.succeed.size
              - failed = goal.commits.failed.size
          
              - succeed_percentage = succeed * 100 / goal.occurrence
              - failed_percentage = failed * 100 / goal.occurrence
          
              .row.goal
                .col-md-3.col-sm-6.col-xs-6.title= link_to (h goal.title).titlecase, user_goal_path(@user, goal)
                .col-md-3.col-sm-6.col-xs-6= h goal.to_frequency
                .col-md-6.col-sm-12.col-xs-12
                  .progress
                    .total
                      = goal.occurrence
                      days
                    .progress-bar.progress-bar-success(role="progressbar" style='min-width: 12px; width: #{ succeed_percentage }%')= succeed
                    - if failed > 0
                      .progress-bar.progress-bar-danger(role="progressbar" style='min-width: 12px; width: #{ failed_percentage }%')= failed   



    - unless @inactive.blank? && @completed.blank?
      .line-break
        
    - unless @inactive.blank?
      .row.head
        .col-md-12
          %h4 Pending
      .pending
        - @inactive.each do |goal|
          .row.goal
            .col-md-3.col-sm-6.col-xs-6.title= link_to (h goal.title).titlecase, user_goal_path(@user, goal)
            .col-md-3.col-sm-6.col-xs-6= h goal.to_frequency
            .col-md-6.col-sm-12.col-xs-12
              .progress
                .total
                  = goal.occurrence
                  days
      
    - unless @completed.blank?
      .row.head.completed
        .col-md-12
          %h4 Completed
      
      
      - @completed.each do |goal|
        .row.goal
          .col-md-3.col-sm-4.col-xs-4.title= link_to (h goal.title).titlecase, user_goal_path(@user, goal)
          .col-md-3.col-sm-4.col-xs-4= goal.to_s
          .col-md-3.col-sm-4.col-xs-4
            - s = goal.start_time.in_time_zone(goal.timezone)
            - e = (s + goal.duration.days)
      
            = s.year == e.year ? s.strftime("%b %d") : s.strftime("%b %d, %Y")
            \-
            = e.strftime("%b %d, %Y")
        .row.detail.col-md-12.col-xs-12
          #{ goal.occurrence } days committed,
          - success = goal.commits.succeed.size
          - if success == goal.occurrence
            all of which 
          - else
            of which #{ success }
          were successful
                
