%meta(name='description' content='Always wanted to do something about yourself? Some old habit you try to get rid of? We help to provide the motivation: your own money. Make a deposit up front for your commitment to yourself, only by achieving it everyday, you earn your money back.')
%meta(name='keywords' content='goal self-improvement committed commitment resolution change')

%meta(charset="utf-8")
%meta(http-equiv="X-UA-Compatible" content="IE=edge")
%meta(name="viewport" content="width=device-width, initial-scale=1")


= stylesheet_link_tag     "#{FONT_SITE}/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800", media: 'all',   'data-turbolinks-track' => true

= stylesheet_link_tag     "#{CDN}/bootstrap/3.2.0/css/bootstrap.min.css",           media: 'all',         'data-turbolinks-track' => true
= stylesheet_link_tag     "#{CDN}/font-awesome/4.2.0/css/font-awesome.min.css",     media: 'all',         'data-turbolinks-track' => true

= stylesheet_link_tag     'application',                                            media: 'all',         'data-turbolinks-track' => true
= javascript_include_tag  'application',                                                                  'data-turbolinks-track' => true

= javascript_include_tag  "#{PAYPAL_DG}/dg.js",                                                           'data-turbolinks-track' => true

:javascript
  window.upmit = {};
  upmit.samples = #{ Goal.samples };

= csrf_meta_tags