#sidebar-nav
  %ul#dashboard-menu
    = nav_link('home', 'Home', '/', 'fa-home')
    
    = nav_link('goals', 'Goals', goals_path, 'fa-star-o')
    
    = nav_link('deposit', 'Deposit', deposit_index_path, 'fa-usd')
    
    
    
    - account_active = controller?('users') && (action?('finish_signup'))
    
    %li(class="#{ 'active' if account_active }")
      - if account_active
        .pointer
          .arrow
          .arrow_border
          
      %a.dropdown-toggle(href="settings.html")
        %i.fa.fa-cog
        %span
          Account
          %i.fa.fa-chevron-down
          
      %ul.submenu(style="#{ 'display: block' if account_active }")
        %li= link_to 'Your Profile', user_path(current_user)
        %li
          %a(href="grids.html") Recent Activities
        %li
          %a(href="signin.html") Settings
    
    %li
      %a(href="#")
        %i.fa.fa-share-alt
        %span Extras
