#sidebar-nav
  %ul#dashboard-menu
    = nav_link(controller?('home'), 'Home', '/', 'fa-home')
    
    = nav_link(controller?('goals') && (@user.present? && @user == current_user), 'Goals', user_goals_path(current_user), 'fa-star-o')
    
    = nav_link(controller?('deposit'), 'Deposit', deposit_index_path, 'fa-usd')
    
    - if current_user.following_by_type('User').size + current_user.followers.size > 0
      = nav_link((@user.present? && @user != current_user) || (controller?('users') && action?('index')), 'People', people_path, 'fa-share-alt')
    
    
    - account_active = controller?('users') && (@user.present? && @user == current_user) && !(controller?('users') && action?('index'))
    
    %li(class="#{ 'active' if account_active }")
      - if account_active
        .pointer
          .arrow
          .arrow_border
          
      %a.dropdown-toggle(href="settings.html")
        %i.fa.fa-cog
        %span
          Settings
          %i.fa.fa-chevron-down
          
      %ul.submenu(style="#{ 'display: block' if account_active }")
        %li= link_to 'Account', account_users_path
        %li= link_to 'Profile', profile_users_path
        %li= link_to 'Preference', preference_users_path
  
#lefter
  %ul.links
    %li= link_to 'About', '/about'
    %li
      %a(href="https://upmit.uservoice.com" target='_blank') 
        Feedback
        %i.fa.fa-external-link
    %li= link_to 'Privacy', '/privacy_policy'
    %li= link_to 'Contact', '/about#contact'
  
  .copy
    %i.fa.fa-copyright
    2014 Upmit LLC
        

