#sidebar-nav
  %ul#dashboard-menu
    = nav_link('home', 'Home', '/', 'fa-home')
    
    = nav_link('goals', 'Goals', user_goals_path(current_user), 'fa-star-o')
    
    = nav_link('deposit', 'Balance', deposit_index_path, 'fa-usd')
    
    %li
      %a(href="#")
        %i.fa.fa-share-alt
        %span People
    
    - account_active = controller?('users')
    
    %li(class="#{ 'active' if account_active }")
      - if account_active
        .pointer
          .arrow
          .arrow_border
          
      %a.dropdown-toggle(href="settings.html")
        %i.fa.fa-cog
        %span
          Settings
          %i.fa.fa-chevron-down
          
      %ul.submenu(style="#{ 'display: block' if account_active }")
        %li= link_to 'Account', account_users_path
        %li= link_to 'Profile', profile_users_path
        %li= link_to 'Preference', preference_users_path
        

