!!! 5
%html(lang="en")
  %head
    %title= @title.blank? ? 'Upmit.com' : @title
  
    = render 'layouts/common_head'
    
  %body(class='#{ @body_class }')
    #np-holder
    
    #messages(class='#{ @message_switch.blank? ? "on" : "off" }')
      - case
      - when flash[:alert].present?
        .text.alert.alert-danger
          %i.fa.fa-times-circle
          = flash[:alert]
          
      - when flash[:notice].present?
        .text.alert.alert-info
          %i.fa.fa-exclamation-circle
          = flash[:notice]
        
    - if user_signed_in? && @no_nav.blank?
      = render 'layouts/navbar'
      = render 'layouts/sidebar'
      
    = yield
  

