!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    
    %title Upmit
    
    = stylesheet_link_tag     'http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', media: 'all',   'data-turbolinks-track' => true
    = stylesheet_link_tag     '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css', media: 'all',   'data-turbolinks-track' => true
    = stylesheet_link_tag     'application', media: 'all',   'data-turbolinks-track' => true
    = javascript_include_tag  'application',                 'data-turbolinks-track' => true
    
    = javascript_include_tag  'https://www.paypalobjects.com/js/external/dg.js',                 'data-turbolinks-track' => true
    
    
    :javascript
      window.upmit = {};
      upmit.samples = #{ Goal.samples };
      
    /[if lt IE 9]
      :javascript
        $(document).ready(function(){
          jQuery("#outer-background-container").backstretch("#{ asset_path('bg5.jpg') }");
        });
    
    = csrf_meta_tags

    
  %body
    / %p.notice= notice
    / %p.alert= alert
  
    - if user_signed_in?
      = render 'layouts/navbar'
      = render 'layouts/sidebar'
      
    = yield
  

