!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    
    %title Upmit
    
    = stylesheet_link_tag     "http://#{FONT_SITE}/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800", media: 'all',   'data-turbolinks-track' => true
    = stylesheet_link_tag     "#{CDN}/bootstrap/3.2.0/css/bootstrap.min.css",           media: 'all',         'data-turbolinks-track' => true
    = stylesheet_link_tag     "#{CDN}/font-awesome/4.1.0/css/font-awesome.min.css",     media: 'all',         'data-turbolinks-track' => true
    
    = stylesheet_link_tag     'application',                                            media: 'all',         'data-turbolinks-track' => true
    = javascript_include_tag  'application',                                                                  'data-turbolinks-track' => true
    
    = javascript_include_tag  "#{CDN}/bootstrap/3.2.0/js/bootstrap.min.js",                                   'data-turbolinks-track' => true
    = javascript_include_tag  "#{PAYPAL_DG}/dg.js",                                                           'data-turbolinks-track' => true
    
    
    :javascript
      window.upmit = {};
      upmit.samples = #{ Goal.samples };
    
      var closer = function() {
        if(window.opener){
          if(window.opener.top.upmit.dg.isOpen() == true){
            window.opener.top.upmit.dg.closeFlow();
          }
        
          window.close();
        }
        else{
         if(top.upmit.dg.isOpen() == true){
             top.upmit.dg.closeFlow();
             return true;
          }
        }
      }
    
    - if @redirecter.blank?
      :javascript
        var closeme = function(){
          closer();
        };
    - else
      :javascript
        var closeme = function() {
          if(window.opener) {
            window.opener.window.top.location.href = "#{ @redirecter }";
            window.close();
          }
          else{
            window.top.location.href = "#{ @redirecter }";
          }
        };
    
    - if action?('cancel')
      :javascript
        window.onload = function() {
          closeme();
        }
    - elsif action?('confirm') #other action - error, do not close the lightbox
      - if flash[:error].blank?
        :javascript
          window.onload = function() {
            setTimeout(closeme, 3000)
          }

    = csrf_meta_tags

  %body.payment
    - unless action?('cancel')
      %header.navbar.navbar-inverse(role="banner")
        .navbar-header
          %a(href='#' onclick='javascript: closeme();') &times;
          .navbar-brand
            = image_tag asset_path('logo.png'), alt: 'Upmit'
      .content
        #pad-wrapper
          = yield